.cartSection {
    position: relative;
    padding: 0;
    height: 100%;
    margin-top: 58px;
    margin-bottom: 8vh;
    color: var(--tg-theme-text-color);
}

section.section {
  padding: 0;
}

.emtyBin {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.emtyBin p {
  color: var(--tg-theme-hint-color, rgba(0, 0, 0, 0.5));
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
  }
  
  .quantityControls button {
    height: 24px;
    background: rgba(123, 217, 227, 1);
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
  }

button.countBtn {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-self: center;
    text-align: center;
  }

  .countWrapper {
    display: flex;
    width: 116px;
    height: 24px;
    justify-content: space-between;
  }

  .countField {
    display: flex;
    min-width: 40px;
    border-radius: 12px;
    margin: auto 8px;
    padding: 4px;
    justify-content: center;
    background: rgba(215, 244, 247, 1);
    color: var(--tg-theme-text-color);
  }

  button.backBtn {
    position: fixed;
    width: 40px;
    height: 40px;
    margin:  8px 0 0 10px;
    background: rgba(123, 217, 227, 1);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    z-index: 3;
  }

  .binBtn {
    display: flex;
    position: fixed;
    right: 8px;
    align-items: center;
    background: none;
    border: none;
    margin: 12px 0;
    gap: 12px;
  }

  .cartItem {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
    padding: 0;
    color: var(--tg-theme-text-color);
    cursor: pointer;
    background: rgba(248, 248, 248, 1);
  }

  .cartImageWrapper {
    padding: 0;
    height: 80px;
  }
  
  .cartImage {
    position: relative;
    border-radius: 12px;
    width: 80px;
    height: 80px;
    align-items: center;
    color: var(--tg-theme-text-color);
  }

  .cartTitle {
    display: -webkit-box;
    width: 70%;
    -webkit-line-clamp: 1; /* Количество строк, которые будут видны */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cartTitleSum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0;
    gap: 0;
  }

  .btnWrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 48px;
    left: 0px;
    top: 0px;
    margin-bottom: 10px;
    background-color: var(--tg-theme-bg-color, #ffffff); /* Используем CSS-переменную для фона */
    color: var(--tg-theme-text-color, #000000); /* Используем CSS-переменную для текста */
    z-index: 6;
  }

  .sum {
    margin-right: 10px;
  }