*  {
  height: var(--tg-viewport-height);
  color: var(--tg-color-scheme);
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--tg-theme-bg-color);
}

section {
  padding:40px 20px;
  background-color: var(--tg-theme-section-bg-color);
  color: var(--tg-theme-text-color);
}

button {
  background-color: #7BD9E3;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 2fr));
  gap: 20px;
  color: var(--tg-theme-text-color);
}

.category-name {

}

.category-description {
  font-size: 12px;
  color: var(--tg-theme-hint-color);
}

.menu-item {
  position: relative;
  display: flexbox;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--tg-theme-text-color);
}

.map-wrapper {
  height: '250px';
  border-radius: '10px';
  overflow: 'hidden';
}

.marker-wrapper {
  position: relative;
  display: flex;
  gap: 10px;
}

.map-wrapper img {
  border-radius: 10px;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
}

.cont-wrapper {
  position: relative;
  display: flexbox;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 10px;
}

.menu-item-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.cart-section {
  position: relative;
  height: 100vh;
  color: var(--tg-theme-text-color);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: var(--tg-theme-text-color);
}

.cart-image {
  position: relative;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  color: var(--tg-theme-text-color);
}

.cart-content-wrapper {
  display: flexbox;
  width: 100%;
  margin-left: 24px;
}

.cart-title-sum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.total-price {
  margin-top: 20px;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.cart-content-wrapper .quantity-controls {
  align-items: center;
  justify-content: start;
}

.quantity-controls button {
  height: 28px;
  background: rgba(123, 217, 227, 1);
  border: none;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 11px;
}

.count-field {
  background-color: rgb(135, 137, 145, 0.4);
  border-radius: 5px;
  padding: 4px 12px;
  margin: auto 8px;
}

.cart-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
  color: var(--tg-theme-text-color);
}

.cart-description {
  font-size: 12px;
  text-align: left;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Количество строк, которые будут видны */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--tg-theme-hint-color);
}

.btn {
  background: rgba(123, 217, 227, 1);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: var(--tg-theme-button-text-color);
}

.price-btn {
  width: 110px;
  color: var(--tg-theme-button-text-color);
}

.count-btn {
  width: auto;
}

.payment {
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0px;
  margin: 0 auto ;
  border-radius: 0;
  font-size: 16px;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  color: var(--tg-theme-button-text-color);
}

.sum {
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 28px;
  top: 0px;
  background-color: var(--tg-theme-header-bg-color);
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  color: var(--tg-color-scheme);
  padding: 8px 0px;
  z-index: 2;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 4px 8px;
  border-radius: 14px;
  border: none;
  background: rgba(123, 217, 227, 0.3);
  font-size: 14px;
  margin: 0 8px;
  color: var(--tg-theme-text-color);
}

.header-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 4px 8px;
  border-radius: 14px;
  background: rgba(123, 217, 227, 1);
  border: none;
  margin: 0 8px;
  color: var(--tg-theme-text-color);
}